_archive
.*
*.json
*.local
*.log
# *.spec.*
*.wasm.js
*.mjs
*.cjs
bg.jpg
build
coverage
data
dist
dist_*
dist_macos
dist_electron
docker
geoip
help
internal
legacy
logs
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml
public
scripts
tmp
video
wiki
www
yarn-error.log
vite.config.ts
vitest*
zerva-vite/ssr-vue/*
examples/vite-ssr/*